.project-img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    margin: 0%;
}
.project-content {
    background-color: #4C529D;
    width: 100%;
    border: solid 1px  #F878FF;
    transition: transform 0.5s ease;
}
.project-content:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.tecnos {
    color: #5FFFAB;
}
.project-txt {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80px;
    padding: 10px;
}