.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 40px;
    background-color: #4C529D;
    border: 1px solid #FFB980;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  

  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }
  
  textarea {
    height: 150px;
  }
  
  button {
    background-color: #5FFFAB;
    color: #4C529D;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  button:hover {
    background-color: #FFB980;
    transform: translateY(-2px);
  }
  
  button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  .success-message {
    color: #5FFFAB;
    margin-top: 10px;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  /* tablet */
  @media (max-width: 1024px) {
    .contact-form {
      margin: 236px 0px 237px 120px;
      
    }
  }