h2 {
    color: #C0DAFF;
}
@keyframes float {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateX(20px)  translateY(-10px);
    }
    100% {
        transform: translateY(0px) rotate(0deg);
    }
}
.moi-content {
    display: flex;
    flex-direction: row;
}
.float-animation {
    animation: float 5s ease-in-out infinite;
}
.cont-photo {
    display: flex;
    align-items: center;
    right: 10%;
    width: 200px;
    
}
.photo{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50px;
    box-shadow: 1px 17px 14px 9px rgba(0, 0, 0, 0.1);
}

.first-name {
    color: #F878FF;
    
}

.last-name,
.email {
    color: #5FFFAB;
}

p {
    color: #C0DAFF;
}

.tele-cv {
    height: 40px;
    width: 220px;
    border-radius: 10px;
    background-color: #5FFFAB;
    color: #3E4380;
    transition: transform 0.5s ease;
}
.tele-cv:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.moi {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.info {
    display: flex;
    flex-direction: column;
    width: 70%;
}
.contact-me {
    display: flex;
    flex-direction: row;
    gap: 0%;
    width: 100%;
}
/* tablet */
@media (max-width: 1024px) {
    h1 {
      font-size: 25px;
      display: flex;
      justify-content: center;  
      gap: 10px;
    }
    h2 {
        font-size: 17px;
    }
    .moi {
        align-items: center;
        gap: 50px;
        margin-top: 100px;
        
    }
    .moi-content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 58px;
    }
}
/* phone */
@media (max-width: 767px) {
    h2 {
        padding: 0px 20px 0px 20px;
    }
    .info {
        width: 90%;
    }
    .contact-me {
        flex-direction: column;
        gap: 20px;
    }
}